<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Castle Defender - Tutorial</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>TUTORIAL</h1>
    <p>
        Press 1-3 to choose tower type<br>
        Then left click to place selected tower<br>
        Or right click to cancel tower placement<br>
        A tower preview will show you tower range and if you are allowed to place it<br>
        Survive as many waves of enemies as you can<br>
        or press quit to end game early
    </p>
    <button id="btnBack">Back</button>
    <script src="/static/tutorial.js"></script>
</body>
</html>